{{ define "main" }}
{{ partial "blog-header" . }}
  <section class="section pt-6">
    <div class="container">
      <div class="row lg:items-stretch">
        <article class="{{ if gt (len .TableOfContents) 80 }}lg:col-8{{ else }}lg:col-10 mx-auto{{ end }}">
          {{ $image:= .Params.image }}
          {{ if $image }}
          <div class="mb-6">
            {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded" "Size" "1280x720" "Command" "Crop") }}
            {{ partial "components/image-attribution.html" . }}
          </div>
          {{ end }}
          <div class="content mb-10">
            {{ .Content }}
          </div>
        </article>
        {{ partial "components/sidebar-toc-tag-categories.html" . }}
      </div>

      <!-- Related posts -->
      {{ $related := .Site.RegularPages.Related . | first 10 }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
        <div class="section pb-0">
          <h2 class="h3 mb-12">{{ T "related_posts" }}</h2>
          <div class="row">
            {{ range . }}
              <div class="lg:col-4 md:col-6 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
