/* DO NOT WRITE ANY STYLE IN THIS FILE */
/* If you want to add your own styles, please write it in the `./assets/css/custom.css` file. */

.header {
    @apply py-4 bg-white dark:bg-darkmode-theme-light shadow-sm sticky top-0 z-30
}

div.chart {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  overflow-x: auto;

  svg {
    display: inherit;
  }
}

html, body {
  scroll-padding-top: 120px;
}

html {
  scroll-behavior: smooth;
}

.next-article-title-underline {
  @apply font-bold text-dark dark:text-darkmode-dark 
         underline decoration-gray-300 dark:decoration-gray-500
         decoration-2 underline-offset-4
         group-hover:decoration-black dark:group-hover:decoration-white
         transition-colors duration-300 ease-in-out;
}


.blog-list-title-underline {
  @apply underline decoration-gray-300 dark:decoration-gray-500
         decoration-3 underline-offset-4
         hover:decoration-black dark:hover:decoration-white
         transition-colors duration-300 ease-in-out;
}

.blog-list-categories-underline:hover {
  @apply text-blue-400
         transition-colors duration-300 ease-in-out;
}

.categories-underline:hover {
  @apply text-blue-400
         transition-colors duration-300 ease-in-out;
}

main h1{
  font-size: 250%;
}

article .content h2 {
  font-size: 200%;
}
article .content h3 {
  font-size: 175%;
}
article .content h4 {
  font-size: 150%;
}
article .content h5 {
  font-size: 125%;
}
article .content h6 {
  font-size: 112.5%;
}

p {
  line-height: 1.75;
}

article .content a:hover {
  text-decoration-color: #000000 !important;
  color: #000000 !important;
}

article .content a {
  position: relative !important;
  text-decoration: none !important;
  color: inherit !important;
}

article .content a::after {
  content: '' !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -2px !important;
  width: 100% !important;
  height: 2px !important;
  background-color: #d1d5db !important; /* gray-300 */
  transition: background-color 0.3s ease !important;
}

article .content a:hover {
  color: #000000 !important;
}

article .content a:hover::after {
  background-color: #000000 !important;
}

article .content table {
  @apply w-full table-auto text-left shadow-md rounded-xl my-8 overflow-hidden;
  border-collapse: separate;
  border-spacing: 0;

  &:before {
    content: none !important;
  }

  thead {
    @apply bg-gray-100 dark:bg-darkmode-theme-dark;
    th {
      @apply px-2 py-4 text-center text-sm font-semibold uppercase tracking-wider text-gray-600;
    }
  }

  tbody {
    @apply bg-white divide-y divide-gray-200;

    tr {
      @apply border-b-0;
      &:nth-of-type(even) {
        @apply bg-gray-50;
      }
    }

    td {
      @apply px-3 py-4 text-center text-sm align-middle text-text;
    }
  }
}